@model DataBase.Page

@{
    ViewBag.Title = "ایجاد خبر جدید";
}

<h2>Create</h2>

<h4 class="text-center font_Style"><strong>@ViewBag.Title</strong> </h4>
@using (Html.BeginForm("Create","Pages",FormMethod.Post,new {enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr/>
        @Html.ValidationSummary(true, "", new {  @class = " font_Style text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, htmlAttributes: new {  @class = " font_Style control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GroupId", null, htmlAttributes: new {  @class = " font_Style form-control" })
                @Html.ValidationMessageFor(model => model.GroupId, "", new {  @class = " font_Style text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PageTitle, htmlAttributes: new {  @class = " font_Style control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageTitle, new { htmlAttributes = new {  @class = " font_Style form-control" } })
                @Html.ValidationMessageFor(model => model.PageTitle, "", new {  @class = " font_Style text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new {  @class = " font_Style control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new {  @class = " font_Style form-control" } })
                @Html.ValidationMessageFor(model => model.ShortDescription, "", new {  @class = " font_Style text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {  @class = " font_Style control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new {  @class = " font_Style form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new {  @class = " font_Style text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new {  @class = " font_Style control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new {  @class = " font_Style form-control" } })
                @Html.ValidationMessageFor(model => model.Tags, "", new {  @class = " font_Style text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new {  @class = " font_Style control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imgUp"/>
                @Html.ValidationMessageFor(model => model.ImageName, "", new {  @class = " font_Style text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShowInSlider, htmlAttributes: new {  @class = " font_Style control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ShowInSlider)
                    @Html.ValidationMessageFor(model => model.ShowInSlider, "", new {  @class = " font_Style text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت خبر" class="btn btn-success" />
                @Html.ActionLink("بازگشت به لیست اخبار", "Index" ,null ,new { @class ="font_Style btn btn-info font_Style", @title = "بازگشت به لیست اخبار" })
            </div>
        </div>

    </div>
}

@section scripts
{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script>
                $(function () {
                    $('#Description').ckeditor();
                });
    </script>
}
