@model DataBase.Page

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h5 class="font_Style">آیا از حذف خبر مطمئن هستید؟</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupPage.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupPage.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
          <img src="~/PageImages/@Model.ImageName" style="max-width: 150px" class="thumbnail"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInSlider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group text-center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" title="حذف" value="حذف" class="btn btn-danger" />
                @Html.ActionLink("بازگشت به لیست اخبار", "Index", null, new { @class = "font_Style btn btn-info font_Style", @title = "بازگشت به لیست اخبار" })
            </div>
        </div>

    }
</div>
